body { 
    background-color: white
}

h1 {
    font-size: 25px;
    color: #007e7e;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 20px;
    color:black;
}

h3 {
    font-size: 20px;
    color: red;
}

p {
    color:black;
    font-size: 17px;
}

#garantie {
    background-image: url(bilder/hintergrund.gif);
    background-repeat: no-repeat;
    background-color: #a7cece;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 70px;
    margin: 10px;
    margin-right: 300px;
    color:white;
    border:  1px dashed;
    font-style: oblique;

}

#footer {
    font-size: 13px;
    text-align: center;
}

#elexire {
    float:right;
    width: 280px;
    border: 2px solid; color:#007e7e;
    background-image: url(bilder/cocktail.gif);
    background-repeat:no-repeat;
}